@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <br>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Nützliche Links</h2>

            <table id="linkTable">
                <tr>
                    <td>
                            <span>
                                <b>Equipment</b>
                            </span>
                        <p >
                            <a target="_blank" class="hyperlink" href="http://www.abysmal.com/pages/index.html">Abysmal Diving</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.akona.com/Pages/Products.html">Akona</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.apollosportsusa.com/">Apollo Sports</a>
                            <br>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://www.aqualung.de/">Aqualung</a>
                                <br>
                                <a target="_blank" class="hyperlink" href="http://www.aquata.com/2/ger/index.htm">Aquata</a>
                                <br>
                                <a target="_blank" class="hyperlink" class="hyperlink" ="http://www.barakuda-wassersport.de/">Barakuda</a>
                                <br>
                                <a target="_blank" class="hyperlink" href="http://www.wetunddry.de/Neuheiten/neuheiten.html">Bare</a>
                                <br>
                                <a target="_blank" class="hyperlink" href="http://www.beuchatdiving.com/">Beuchat</a>
                                <br>
                                <a target="_blank" class="hyperlink" href="http://www.apvalves.com/">Buddy</a>
                                <br>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.camaro.at/">
                                <span >Camaro</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.cressi-sub.de/">Cressi-Sub</a>
                            <br>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://www.draeger.com/de/ST/Produkte/DD/DD.jsp">Dräger</a>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.taucherlampen.de/kowalsd/index2.htm">
                                <span >
                                    <br>
                                </span>
                            </a>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://www.effesub.com/">EffeSub</a>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.taucherlampen.de/kowalsd/index2.htm">
                                <span >
                                    <br>
                                </span>
                            </a>
                            <a target="_blank" class="hyperlink" href="http://www.hartenberger.de/ha-000.html">
                                <span >Hartenberger</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.ikelite.com/">
                                <span >
                                    Ikelite
                                    <br>
                                </span>
                            </a>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://www.iq-company.com/">iQ-Company</a>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.ikelite.com/">
                                <span >
                                    <br>
                                </span>
                            </a>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://www.myjaxdive.com/deutsch/introduction.cfm">Jax</a>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.ikelite.com/">
                                <span >
                                    <br>
                                </span>
                            </a>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://www.kwtt.de/">Kallweit</a>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.ikelite.com/">
                                <span >
                                    <br>
                                </span>
                            </a>
                            <a target="_blank" class="hyperlink" href="http://www.taucherlampen.de/kowalsd/index2.htm">
                                <span >Kowalski</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.mares-tauchsport.de/index2.php3">
                                <span >Mares</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.marlin.de/">Marlin</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.mero-aqua.de/d/index.html">Mero</a>
                            <br>
                            <span >
                                <a title="Kabellampen" class="hyperlink" target="_blank" href="http://www.metalsub.nl/">
                                    Metalsub
                                    <br>
                                </a>
                                <a target="_blank" class="hyperlink" href="http://www.oceanic.de/oceanic/index.htm">Oceanic</a>
                                <br>
                                </a>
                                <a target="_blank" class="hyperlink" href="http://www.poseidon-kiel.com/">Poseidon</a>
                                <br>
                                <a target="_blank" class="hyperlink" href="http://www.prosub.com/">ProSub</a>
                                <br>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.scubapro.com/">
                                <span >Scubapro</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.seacsub.it/en/Default.htm">Seac Sub</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.seemannsub.de/frontend/shared/main/index.cfm?CFID=2408295%26CFTOKEN=40817554">Seemann Sub</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.suunto.com/pls/suunto/suunto2.pubmainpage.frameset">Suunto</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.tusa.de/">Tusa</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.uwatec.com/index-ger.htm">
                                <span >Uwatec</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.waterproof.at">
                                <span >Waterproof</span>
                            </a>
                            <span >
                                <br>
                                <a target="_blank" class="hyperlink" href="http://www.zeagle.com/">Zeagle</a>
                            </span>
                        </p>
                    </td>
                    <td width="20%" valign="top">
                        <p class="grundschrift">
                            <span class="p">
                                <b>Tauchverbände</b>
                            </span>
                        </p>
                        <p >
                            <a target="_blank" class="hyperlink" href="http://www.arge-tauchen.at/">
                                <span >ARGE Tauchen</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.barakuda.de/index_s_tauchen.htm">Barakuda</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.cmas-germany.de/">CMAS Deutschland</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.ida-online.com/main_deutsch.htm">IDA</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.idic-international.org/">IDIC</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.fit-cedip.de/">
                                <span >FIT</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.naui.org/index-side.html">
                                <span>NAUI</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://deutsch.padi.com/">
                                <span>PADI</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.pdic-intl.com/">
                                <span>PDIC</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.ssiaustria.at/">
                                <span>SSI Austria</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.tsvoe.or.at/">
                                <span>TSVÖ</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.udi-world.de/">UID</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.vest-dive.de/">VEST</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.vit-2000.de/">
                                <span>VIT</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.vdst.de/">VDST</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.vdtl.de/">VDTL</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.ymcascuba.org/">
                                <span>YMCA</span>
                            </a>
                        </p>
                    </td>
                    <td width="20%" valign="top">
                        <p class="grundschrift">
                            <span class="p">
                                <b>UW-Foto/UW-Video</b>
                            </span>
                        </p>
                        <p >
                            <a target="_blank" class="hyperlink" href="http://ag-aqua.de/">
                                <span AG-Aqua Versand</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.aquavideo.com/">
                                <span>Aqua Video</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.ikelite.com/web_pages/1cat_index.html">Ikelite</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.marlin.de/">Marlin</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.mecom-uw.de/">Mecom</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.multitec.net/mult_htm/frame.htm">Multitec</a>
                            <br>
                            <span
                                <a target="_blank" class="hyperlink" href="http://www.nikon.de/html/unterwasser.html">
                                    Nikon
                                    <br>
                                </a>
                            </span>
                            <a target="_blank" class="hyperlink" href="http://www.seacam.com/profil/sprofil.htm">
                                <span >Seacam</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.sealux.de/s1g.htm">
                                <span >Sealux</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.seaandsea.com/">
                                Sea & Sea
                                <br>
                            </a>
                            <a target="_blank" class="hyperlink" href="http://www.subal.com/">
                                Subal
                                <br>
                            </a>
                            <a target="_blank" class="hyperlink" href="http://www.subtronic.de/">Subtronic</a>
                            <a target="_blank" class="hyperlink" href="http://www.subal.com/">
                                <br>
                            </a>
                            <a target="_blank" class="hyperlink" href="http://www.treble-light.com/">
                                Treble-Light
                                <br>
                            </a>
                            <a target="_blank" class="hyperlink" href="http://www.uwimaging.com/">UW-Imaging</a>
                            <br>
                        </p>
                        <p>
                            <a target="_blank" class="hyperlink" href="http://www.unterwasserfotografie.de/bild.html">
                                <span>UW-Fotoarchiv</span>
                            </a>
                        </p>
                        <p class="grundschrift">
                            <br>
                            <span class="p">
                                <b>
                                    Fernsehprogramme
                                    <br>
                                    (Tauchen, Reisen, Natur)
                                </b>
                            </span>
                        </p>
                        <p>
                            <span>
                                <a target="_blank" class="hyperlink" href="http://www.discovery.de/de/pub/tv/tvprogram.cfm" title="Natur, Tiere, Reisen, Abenteuer">Discovery Channel</a>
                            </span>
                            <a title="Natursendungen" class="hyperlink" target="_blank" href="http://nafoku.de/naturtv.shtml">
                                <span>
                                    <br>
                                </span>
                            </a>
                            <span>
                                <a target="_blank" class="hyperlink" href="http://tv.fernweh.com/" title="Reiseberichte">Fernweh</a>
                            </span>
                            <a title="Natursendungen" class="hyperlink" target="_blank" href="http://nafoku.de/naturtv.shtml">
                                <span>
                                    <br>
                                    Natur-TV
                                    <br>
                                </span>
                            </a>
                            <span>
                                <a target="_blank" class="hyperlink" href="http://www.no-bubbles.de/db/tv.php" title="Tauchsendungen">Tauchen im TV 1</a>
                            </span>
                            <a title="Natursendungen" target="_blank" class="hyperlink" href="http://nafoku.de/naturtv.shtml">
                                <span>
                                    <br>
                                </span>
                            </a>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://wolf.feynsinn.de/tauchen/tv.html" title="Tauchsendungen">Tauchen im TV 2</a>
                            </span>
                        </p>
                    </td>
                    <td width="20%" valign="top">
                        <p class="grundschrift">
                            <span class="p">
                                <b>Tauchreisen</b>
                            </span>
                        </p>
                        <p>
                            <a target="_blank" class="hyperlink" href="http://www.niederlaendische-karibik.de/" title="Niederländische Karibik">ABC-Travel</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.adventure-diver.de/" title="Grönland">Adventure Diver</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.action-sport.de/tauchurlaub/" title="Diverse">Action Sport</a>
                            <br>
                            <a title="Aegypten" class="hyperlink" target="_blank" href="http://www.tauchreisenalaadin.de/">
                                <span>Alaadin's</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.aquanaut-tauchreisen.de/" title="Diverse">Aquanaut</a>
                            <br>
                            <a title="Wracktauchen, Tieftauchen" target="_blank" class="hyperlink" href="http://www.active-sport.de/">
                                <span>AS Adventure Service</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.boleng.co.za/Deutsch/deutsch.htm" title="Südafrika, Indonesien">Boleng Advetures</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.denni-divers.de/Home/Home.htm" title="Kroatien">Denni-Divers</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.dmd.reisen.de/" title="Mexiko">Discover Mexiko Diving</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.diveworld.ch/reisen.html" title="Von Elba bis in die Karibik.">Dive World</a>
                            <br>
                            <a title="Australien, Papua Neuguinea" target="_blank" class="hyperlink" href="http://www.diversionoz.com/de/index.html">
                                <span>Diversion</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.emperor-travel.de/index.html" title="Diverses">Emperor</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.kontiki-travel.de/kontiki_home_d.htm" title="Philippinen">Kontiki Travel</a>
                            <br>
                            <a title="tauchen weltweit" target="_blank" class="hyperlink" href="http://www.orca.de">
                                <span>Orca</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.reisefuehrer-online.de/tauchen_index.htm" title="weltweit">Online-Reiseführer</a>
                            <br>
                            <a title="Malediven" class="hyperlink" target="_blank" href="http://www.travelin-maldives.com/gindex.htm">
                                <span >
                                    Travelin Maldives
                                    <br>
                                </span>
                            </a>
                            <span>
                                <a target="_blank" class="hyperlink" href="http://www.waterworld.at/" title="weltweit (Werner Thiele)">Waterworld</a>
                            </span>
                        </p>
                        <p>
                            <a target="_blank" class="hyperlink" href="http://www.i-node.at/scuba/index.htm">
                                <span >Tauchen in Österreich</span>
                            </a>
                        </p>
                    </td>
                    <td width="20%" valign="top">
                        <p class="grundschrift">
                            <span class="p">
                                <b>Tauchbasen (A)</b>
                            </span>
                        </p>
                        <p>
                            <a target="_blank" class="hyperlink" href="http://www.austrian-divers.at/">
                                Austrian Divers
                                <br>
                                (Attersee, Mondsee)
                            </a>
                            <br>
                            <span >
                                <a target="_blank" class="hyperlink" href="http://www.easydive.at/indexframe.htm" title="Klobeiner See, Weissensee">
                                    EasyDive
                                    <br>
                                    (Graz, Kärnten)
                                </a>
                            </span>
                        </p>
                        <p class="grundschrift">
                            <br>
                            <span class="p">
                                <b>Tauchbasen (intern.)</b>
                            </span>
                        </p>
                        <p>
                            <a title="Malediven" class="hyperlink" target="_blank" href="http://www.divingworld-maldives.com/dwm/00.htm">
                                <span>Divingworld</span>
                            </a>
                            <br>
                            <a title="Palau" class="hyperlink" target="_blank" href="http://www.fishnfins.com">
                                <span>
                                    Fishnfins
                                    <br>
                                </span>
                            </a>
                            <a title="Korsika" class="hyperlink" target="_blank" href="http://www.tauchclub-galiote.de/">
                                <span >Galiote</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.ioda.cx" title="Christmas Island, Westaustralien">Indian Ocean Diving Academy</a>
                            <br>
                            <a title="Malta" class="hyperlink" target="_blank" href="http://www.octopus-garden.com/">
                                <span>Octopus Garden</span>
                            </a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.divingpetra.hr" title="Kroatien">Petra</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.sinaidivers.com/sd/deutsch/index.htm" title="Ägypten">Sinai Divers</a>
                            <br>
                            <a target="_blank" class="hyperlink" href="http://www.scuba-diving-kenya.com/sdk_index_deutsch.htm" title="Watamu">Scuba Diving Kenya</a>
                            <br>
                            <a title="Mexiko" target="_blank" class="hyperlink" href="http://www.islacozumel.com/">
                                <span >Villas Ixchel</span>
                            </a>
                            <br>
                            <a title="Sulawesi" target="body" class="hyperlink" href="http://www.wakatobi.com/">
                                <span>Wakatobi</span>
                            </a>
                            <br>
                        </p>
                    </td>
                </tr>
            </table>

            <div class="col-md-2"></div>
        </div>
       
        <link href="~/Content/Sites/Links.css" rel="stylesheet" />

