@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h2>Tauchplätze</h2>
            <div id="accordion">
                <h3>Freibacher Stausee (Kärnten)</h3>
                <div>
                    <p>
                        Der Freibacher Stausee liegt in Kärnten inmitten der hohen, schön bewaldeten Berge der Karawanken.

                        Tauchplatz Mühle: Entlang der Unterwasserkante in 7 m Wassertiefe kommt man nach ca. 12 Min. Tauchzeit zur versunkenen Mühle (Sägewerk mit Wasserkraft). Man findet noch Reste vom Lagerbock des Wasserrades und Mauerwerk. Bei guter Sicht kann man den Wasserzulauf mit Schiebern und anderen mechanischen Teilen finden. Tauchzeit bis zum Ausstieg ca. 30 – 40 Min.
                        Tauchplatz Liegewiese: Vor der Liegewiese befindet sich eine Kante von 2 m bis 11 m Wassertiefe. Bei dieser Kante befindet sich auf 5 m und 10 m Wassertiefe eine Übungsplattform. In der Bucht nördlich des Einstieges hängen viele Äste von Bäumen ins Wasser. An diesen geschützten Stellen findet man tagsüber viele Eiteln (Döbel).
                        Tauchplatz Westufer: Von der Liegewiese aus taucht man auf das gegenüber liegende Westufer. Nach der Kante auf 13 m Wassertiefe taucht man, bei meist nur mäßiger Sicht und guter Kompassorientierung, ca. 12 Min. bis das Ufer wieder steil ansteigt. Entlang an unterspülten Baumstümpfen, die bis zu einem Meter in das Wasser reichen, findet man im Schutz der Wurzeln viele Fische. Wichtig ist, dass man nicht zu tief taucht. Immer wieder kann man ganze Schwärme von Forellen im Freiwasser beobachten.

                        <h4>Information</h4>
                        Ort: 
                        Gemeinde Zell (nähe Ferlach)

                        Seehöhe: 736 m
                        Max. Tiefe: 32 m

                        Infos/Füllstation:
                        Informationen, Flaschenfüllungen und sogar geführte Tauchgänge bieten die EasyDivers am Klopeiner See.

                        Tauchzeiten:
                        Im Juli und August hat man die besten Sichtweiten.

                        Sichtweiten:
                        Der Freibacher Stausee ist erstaunlich klar. Die Sichtweite schwankt von 5 bis zu beachtlichen 15 Metern. Wenn es regnet werden Sedimente eingespült und dann braucht es ca. eine Woche bis er wieder klar ist.

                        Tiere/Pflanzen:
                        Wenig Bewuchs. Schotter und Fels entlang der Ufer und an den flachen Seebodenzonen stark verschlammt. Barsche, Eitel (Döbel), Bachforellen und Seeforellen – wobei man die meisten Fische am Westufer findet.

                        <img src="~/Content/images/Location/freibach1.jpg"/>
                        <img src="~/Content/images/Location/freibach2.jpg" />

                    </p>
                </div>
                <h3>Laghi di Fusine (Italien)</h3>
                <div>
                    <p>
                        Die Laghi di Fusine (auch fälschlicherweise gerne in der Einzahl als Lago di Fusine bezeichnet) sind Bergseen im Dreiländereck Österreich – Slowenien – Italien. Sie liegen Nähe Tarvis, am besten erreicht man sie von Klagefurt aus kommend, in dem man sich Richtung Villach hält. Die Seen liegen idyllisch eingebettet im Alpenmassiv der Julischen Alpen.

                        Tauchplätze:
                        Der ideale Einstieg liegt links am Ufer entlang, etwa 150 Meter nach dem Gasthaus, an einer kleinen Holzbrücke. Am besten taucht man Ufer linke Schulter zum hinteren Teil des Sees. Ein Unterwasser-Canyon fällt hier bis auf 25 m ab. Beim Rückweg sollte man den Uferbereich bevorzugen, da sich hier viele Fische aufhalten. Auf Grund der einmaligen Sicht bieten sich auch viele Fotomotive an.
                        Ein zweiter See befindet sich etwa 500 m weiter entlang der Straße, ist jedoch für Tauchgänge zu seicht. Einen Spaziergang während der Oberflächenpause ist er aber schon allein wegen der ihn umgebenden wunderschönen Gebirgslandschaft allemal wert.
                        
                        <h4>Information</h4>
                        Ort:
                        nahe Tarvis

                        Seehöhe: 924 m
                        Max. Tiefe: 25 m

                        Infos/Füllstation:
                        Informationen, Flaschenfüllungen und sogar geführte Tauchgänge bieten die EasyDivers am Klopeiner See(K).

                        Tauchzeiten:
                        Im Juli und August hat man die besten Sichtweiten.

                        Sichtweiten:
                        Die Sichtweite beträgt rund 25 Meter, an mehreren Stellen wird der See von Quellen gespeist. Außerhalb des Canyons ist der See nur 7 bis 12 Meter tief (je nach Wasserstand und Jahreszeit), der Boden ist von sehr feinem Schlamm bedeckt. Der See ist kristallklar und einem Bergsee entsprechend eiskalt (selbst im Hochsommer beträgt die Temperatur nur einige wenige Grad).

                        Tiere/Pflanzen:
                        Der See bietet viele umgestürzte Bäume und eine prachtvolle Unterwasser-Landschaft mit großen Felsen. Im Uferbereich herrlicher Bewuchs mit Wasserpflanzen. Dort findet man auch hohen Fischreichtum (Forellen en masse).

                        <img src="~/Content/images/Location/lago_di_fusine_1.jpg" />
                        <img src="~/Content/images/Location/lago_di_fusine_2.jpg" />

                    </p>
                </div>
                <h3>Resi-Locka (Oberösterreich)</h3>
                <div>
                    <p>
                        Der bei den Einheimischen nur unter dem Namen „Resi-Locka“ bekannte See entstand aus einem Steinbruch. Schon kurz nach dessen Schließung füllte er sich mit Wasser. Die „Resi-Locka“ liegt inmitten eines kleinen Waldes und gehört zur Gemeinde Kleinzell.

                        Tauchzeiten:
                        Wer kälteempfindlich ist, sollte hier nur in den Sommermonaten abtauchen. Zu beachten ist, dass der See auch als Badeplatz benützt wird. Vormittags sind kaum Badegäste anzutreffen. Der See befindet sich in Privatbesitz, ist jedoch zum Baden und Tauchen freigegeben. Zu beachten ist die zeitliche Einschränkung: Ab 20 Uhr ist Schluss.

                        Tauchplätze:
                        Es gibt nur einen Zugang zum See. Die anderen Seiten sind durch hohe Felswände abgegrenzt. Der Einstiegsbereich fällt zuerst sehr flach ab. Erst nach einigen Metern kommt ein senkrechter Abbruch, der bis zum Grund abfällt. Es gibt zwei Möglichkeiten für Tauchgänge. Entweder entlang der steilen Felswände umrunden (nicht ganz am Grund – Ablagerungen) oder quer durch.

                        <h4>Information</h4>
                        Ort:
                        Kleinzell (Mühlviertel)

                        Seehöhe: 520 m
                        Max. Tiefe: 18 m

                        Tauchzeiten:
                        Im Juli und August hat man die besten Sichtweiten.

                        Sichtweiten:
                        Die Sicht ist im flachen Bereich tadellos. Es wird aber mit zunehmender Tiefe rasch dunkler. Ab einer Tiefe von 10 bis 12 Meter ist ohne Lampe nichts mehr zu machen. Wer also tiefer gehen will, sollte eine Tauchlampe im Gepäck haben.
                        Vorsicht bei den versunkenen Bäumen. Jede Berührung vermeiden, da die Ablagerungen auf den Zweigen die Sicht rasch verschlechtern.
                        
                        Tiere/Pflanzen:
                        Fische (Barsche) trifft man nur vereinzelt im Einstiegsbereich an. An der seichteren Stelle (links vom Einstieg) soll sich auch ein Hecht herumtreiben.
                        In einer Tiefe von 3 bis 6 Meter sind manchmal Süßwasserquallen anzutreffen.
                        Pflanzenbewuchs ist praktisch nicht vorhanden, da der Untergrund zum Großteil aus Felsen besteht.
                        <img src="~/Content/images/Location/resiloga1.jpg" />
                        <img src="~/Content/images/Location/resiloga2.jpg" />
                    </p>
                </div>
                <h3>Grünen See (Steiermark)</h3>
                <div>
                    <p>
                        Dieser Bergsee trägt seinen Namen zurecht. Er ist glasklar und von smaragdgrüner Farbe. Inmitten von Wald und umgeben vom Hochschwalb-Massiv, ist es einer der unvergesslichsten Tauchplätze in Österreich.

                        Tauchzeiten:
                        Die beste Zeit um im „Grünen See“ zu tauchen ist das Frühjahr während oder nach der Scheeschmelze. In dieser Zeit steigt der Wasserspiegel um einige Meter an. Im Sommer trocknet der See dagegen nahezu aus. Den aktuellen Wasserstand erfahrt ihr auf der Homepage der Gemeinde Tragöß.
                        Zeitlich ist das Tauchen von 9 – 18 Uhr beschränkt. Nachttauchen und Übungstauchgänge sind grundsätzlich verboten. Die Temparatur des Wassers liegt bei erfrischenden 4 – 8 °C (nichts für Warmduscher).

                        Tauchplätze:
                        Für Taucher ist die Zufahrt bis zum See gestattet. Nach dem Abladen der Tauchgeräte muss das Fahrzeug jedoch am Parkplatz beim „Gasthof Seehof“ abgestellt werden. Der Einstieg kann direkt beim Gasthof oder am hinteren Teil des Sees erfolgen. Man sollte auf jedem Fall bedenken, dass die ganze Gegend unter Naturschutz steht.

                        <h4>Information</h4>
                        Ort:
                        Kleinzell (Mühlviertel)

                        Seehöhe: 520 m
                        Max. Tiefe: 18 m

                        Tauchzeiten:
                        Im Juli und August hat man die besten Sichtweiten.

                        Sichtweiten:
                        Die Sicht ist im flachen Bereich tadellos. Es wird aber mit zunehmender Tiefe rasch dunkler. Ab einer Tiefe von 10 bis 12 Meter ist ohne Lampe nichts mehr zu machen. Wer also tiefer gehen will, sollte eine Tauchlampe im Gepäck haben.
                        Vorsicht bei den versunkenen Bäumen. Jede Berührung vermeiden, da die Ablagerungen auf den Zweigen die Sicht rasch verschlechtern.

                        Tiere/Pflanzen:
                        Fische (Barsche) trifft man nur vereinzelt im Einstiegsbereich an. An der seichteren Stelle (links vom Einstieg) soll sich auch ein Hecht herumtreiben.
                        In einer Tiefe von 3 bis 6 Meter sind manchmal Süßwasserquallen anzutreffen.
                        Pflanzenbewuchs ist praktisch nicht vorhanden, da der Untergrund zum Großteil aus Felsen besteht.
                        <img src="~/Content/images/Location/resiloga1.jpg" />
                        <img src="~/Content/images/Location/resiloga2.jpg" />
                    </p>
                </div>
            </div>
        <div class="col-md-2"></div>
        </div>
    </div>
</div>

<script>
$(function () {
    $("#accordion").accordion();
});
</script>
