@{
    ViewBag.Title = "Tauchschule Aquasport Attersee - Doblinger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Willkommen bei der Tauchschule Aquasport Attersee!</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <p>
                Unsere Tauchschule bietet Ausbildungen vom Grundschein bis zum Tauchlehrer, Schnuppertauchgänge, Verleih von Ausrüstung,
                Füllstationen für Pressluftflaschen (2 Kompressoren), Tauchshop, Service von Lungenautomaten und Jackets…
            </p>

            <h4>Voraussetzungen für eine Ausbildung bei uns:</h4>
            <p>
                <ul>
                    <li>Mindestalter: 16 Jahre (jüngere Teilnehmer nach Absprache)</li>
                    <li>Ärztliches Attest (darf maximal 1 Jahr alt sein)</li>
                </ul>
            </p>
            <h4>Unsere Tauchverbände:</h4>
            <p>
                <ul>
                    <li>PDIC</li>
                    <li>VIT</li>
                    <li>IDIC</li>
                    <li>SSI</li>
                </ul>
            </p>

            <h4>Kosten:</h4>
            <p>
                EUR 450,– (inkl. Leihausrüstung und Tauchgänge, exkl.
                <a target="_blank" href="http://www.arge-tauchen.at">DiveCard</a>
                und Eintritt für Frei- oder Hallenbad)
            </p>
            <p>
                In unserer Tauchschule könnt ihr Tauchbrevents vom Grundschein bis zum Instructor erwerben. 
                Bestens ausgebildete und erfahren Tauchlehrer vermitteln euch das nötige theoretische und praktische Wissen.
            </p>
        </div>
        <div class="col-md-7">
            <img src="~/Content/images/Home/schnupper.jpg" />
        </div>
    </div>
</div>
