@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tauchbrevets</h2>
<div class="container-fluid">
    <div>
        Vom Grundschein bis zum Tauchlehrer steht Ihnen jede Ausbildung offen. <br />
        Werden die Prüfungen positiv absolviert, bekommen Sie ein international gültiges Tauchzertifikat, mit dem überall auf der Welt bei Tauchgängen, Tauchausfahrten usw. teilgenommen werden kann.

        Anfragen jederzeit unter: 07752/ 81097-50 oder 0699/ 17810971
        oder schicken Sie uns eine <span class="a">j.doblinger@doma.at</span>
    </div>
    <br />
    <br />
    <div class="row">
        <ul><li>Ausbildungssystem laut <a href="http://www.ssi-germany.de/" target="_blank"><img src="~/Content/images/Brevets/ssi.gif" width="60" height="35" border="0"></a></li></ul>
        <br />
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <table id="ssi">
                <tr>
                    <td align="center" width="36%">Bezeichnung</td>
                    <td align="center" width="4%">Level</td>
                    <td align="center" width="60%">Vorraussetzungen/ Einschränkungen</td>
                </tr>
                <tr>
                    <td>Passport Diver</td>
                    <td>-</td>
                    <td>berechtigt nur zur Teilnahme an geführten Tauchgängen</td>
                </tr>
                <tr>
                    <td>Open Water Diver</td>
                    <td>1</td>
                    <td>nach mindestens 5 gelogten Ausbildungstauchgängen</td>
                </tr>
                <tr>
                    <td>Specialty Diver</td>
                    <td>2</td>
                    <td>12 oder mehr gelogte Tauchgänge + 2 Spezialkurse</td>
                </tr>
                <tr>
                    <td>Advaced Open Water Diver</td>
                    <td>3</td>
                    <td>24 oder mehr gelogte Tauchgänge + 4 Spezialkurse</td>
                </tr>
                <tr>
                    <td>Master Diver</td>
                    <td>4</td>
                    <td>50 oder mehr gelogte Tauchgänge + 4 Spezialkurse + Stress & Rescue</td>
                </tr>
                <tr>
                    <td>Open Water Instructor</td>
                    <td>-</td>
                    <td>Tauchlehrer</td>
                </tr>
                <tr>
                    <td>Advanced Open Water Instructor
                        DiveCon Instructor
                        Master Instructor
                        Instructor Trainer
                        Instructor Certifier
                    </td>
                    <td>-</td>
                    <td>weiterführende Ausbildung (auf Anfrage)</td>
                </tr>
                <tr>
                    <td>Century Diver</td>
                    <td>5</td>
                    <td>100 oder mehr gelogte Tauchgänge (keine Ausbildung erforderlich)</td>
                </tr>
                <tr>
                    <td>Century Diver</td>
                    <td>6</td>
                    <td>200 oder mehr gelogte Tauchgänge (keine Ausbildung erforderlich)</td>
                </tr>
                <tr>
                    <td>Century Diver</td>
                    <td>7</td>
                    <td>300 oder mehr gelogte Tauchgänge (keine Ausbildung erforderlich)</td>
                </tr>
                <tr>
                    <td>Century Diver</td>
                    <td>8</td>
                    <td>400 oder mehr gelogte Tauchgänge (keine Ausbildung erforderlich)</td>
                </tr>
                <tr>
                    <td>Gold Diver</td>
                    <td>9</td>
                    <td>500 oder mehr gelogte Tauchgänge (keine Ausbildung erforderlich)</td>
                </tr>
                <tr>
                    <td>Platinum Diver</td>
                    <td>10</td>
                    <td>1.000 oder mehr gelogte Tauchgänge (keine Ausbildung erforderlich)</td>
                </tr>
                <tr>
                    <td>Platinum Pro Diver</td>
                    <td>Pro</td>
                    <td>5.000 oder mehr gelogte Tauchgänge (keine Ausbildung erforderlich)</td>
                </tr>
                <tr>
                    <td>Spezialkurse</td>
                    <td>-</td>
                    <td>Navigation, Nachttauchen, Tieftauchen, Trockentauchen, Ausrüstung und Technik, Wracktauchen, Nitroxtauchen, Unterwasserfotografie, Suchen und Bergen…</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<link href="~/Content/Sites/brevets.css" rel="stylesheet" />