@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a target="_blank" class="hyperlink" href=""></a>

<div class="container-fluid">
    <div class="row">
        <br>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Kontakt</h2>
            <div align="center">
                Johann Doblinger <br />
                A-4921 Hohenzell <br />
                Roith 17 <br />

                Tel.: <a class="hyperlink" href="tel:0775281097"> 07752 / 81097</a> <br />
                Mobil: <a class="hyperlink" href="tel:069917810971">0699 / 17810971</a> <br />
                E-Mail: <a class="hyperlink" href="mailto:j.doblinger@doma.at">
                    <span class="a">doblinger@doma.at</span>
                </a>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2659.006537763588!2d13.543770699999998!3d48.206489999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4774130cf879341f%3A0x251319e0df7209ed!2sRoith+17%2C+4921+Roith!5e0!3m2!1sde!2sat!4v1421048594565" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
